version: 2
updates:
  - package-ecosystem: bundler
    directory: "/backend"
    schedule:
      interval: weekly
    open-pull-requests-limit: 10
    groups:
      backend-dependencies:
        patterns:
          - "*"
  - package-ecosystem: npm
    directory: "/frontend"
    schedule:
      interval: weekly
    open-pull-requests-limit: 10
    groups:
      frontend-dependencies:
        patterns:
          - "*"
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
    open-pull-requests-limit: 10
    groups:
      actions:
        patterns:
          - "*"
